<div class="container">
  <div class="container-text-intro">
      <svg xmlns="http://www.w3.org/2000/svg">
        <filter id="motion-blur-filter" filterUnits="userSpaceOnUse">
          <feGaussianBlur stdDeviation="100 0"></feGaussianBlur>
        </filter>
      </svg>
    <span filter-content="S"> Navigate throught the marketplace </span>
  </div>

  <div class="cards mt-5">
    <% @nvts.each do |nvt| %>
    <%= link_to nvt_path(nvt) do %>
      <div class="card-item">
        <%= cl_image_tag nvt.photo.key %>
          <div class="card-item-infos">
            <h3><%= nvt.category %></h3>
            <h2><%= nvt.title %></h2>
            <p><%= nvt.price %> <strong>$NVC</strong></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<br>
<br>
<br>
