<div class="container">
    <div class="container-text-intro">
      <svg xmlns="http://www.w3.org/2000/svg">
        <filter id="motion-blur-filter" filterUnits="userSpaceOnUse">
          <feGaussianBlur stdDeviation="100 0"></feGaussianBlur>
        </filter>
      </svg>
    <span filter-content="S"> Create content </span>
  </div>

  <div class="card-create mt-5">
    <%= simple_form_for @nvt do |f| %>
      <%= f.input :title, placeholder: 'nom de votre NVT' %>
      <%= f.input :category, placeholder: 'entrez la catégorie' %>
      <%= f.input :date, as: :date, html5: true, placeholder: 'date de création' %>
      <%= f.input :price, placeholder: 'entrez votre prix' %>
      <%= f.input :content, placeholder: 'entrez une description' %>
      <%= f.input :photo, as: :file, input_html: { class: "ps-2" }%>
      <%= f.submit class: 'btn btn-flat' %>
    <% end %>
  </div>

  <br>
  <br>
  <br>
