  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<h1>Show page</h1>



<div class="card-show">
  <%= image_tag @nvt.picture %>

  <div class="card-show-infos">
    <h3><%= @nvt.category %></h3>
    <h2><%= @nvt.title %></h2>
    <p><%= @nvt.price %> <strong>$NVC</strong></p>
  </div>
</div>

<p><%= @nvt.content %>
