<div class="card-dashboard">
  <div class="col-sm-6">
    <div class="card-dashboard-user-profile">
      <div class="dash-user-pic">

      </div>
      <div class="dash-user-profile">
        <h2><%= @user.username %></h2>
        <h4><%= link_to "Edit profile", update_user_path(current_user) %></h4>
      </div>
    </div>
  </div>
    <div class="card-dashboard-transactions">
    <div>
      <h2>My Bookings</h2>
      <hr class="h-line" width="200" align="left">
    </div>
    <div class="row">
        <% @transactions.each do |transaction| %>
          <div class="dashboard-card-product">
            <%= cl_image_tag transaction.nvt.picture %>
            <div class="card-product-infos">
              <h4> <%= link_to transaction.nvt.title, transaction_path(transaction) %> </h4>
              <p><%= transaction.nvt.price %> NonValueCount </p>
            </div>
          </div>
          <% end %>
    </div>
    <div>
      <h2>My NVTs</h2>
    </div>
    <hr class="h-line" width="200" align="left">
    <div class="row">
      <% @nvts.each do |nvt| %>
      <div class="dashboard-card-product">
          <%= cl_image_tag nvt.picture %>
          <div class="card-product-infos">
              <p> <%= nvt.title %> </p>
              <p><%= island.price %> NonValueCount </p>
    </div>
  </div>
  <% end %>
</div>
</div>
</div>
