<div class="container">
  <div class="container-text-intro">
        <svg xmlns="http://www.w3.org/2000/svg">
          <filter id="motion-blur-filter" filterUnits="userSpaceOnUse">
            <feGaussianBlur stdDeviation="100 0"></feGaussianBlur>
          </filter>
        </svg>
      <span filter-content="S"> Collect this item </span>
    </div>

  <div class="card-new-transaction">
      <h2>New transaction</h2>
      <h5><i><%= current_user.username %>, buy the NVT <%= @nvt.title %>!</h5></i>
      <%= simple_form_for [@nvt, @transaction] do |f| %>
        <%= f.input :comment, label: "Comment", as: :string, required: false %>
        <%= f.submit "Buy!", class: "button" %>
      <% end %>
    <div class="transaction-show-owner-info">
      <p>Sold by <%= link_to @nvt.user.username %></p>
    </div>
  </div>
</div>
